---
import CloseIcon from "@assets/icons/CloseIcon.astro";
import HamburgerIcon from "@assets/icons/HamburgerIcon.astro";
import menu from "@config/menu.json";
import config from "@config/config.json";
import HomeIcon from "@assets/icons/HomeIcon.astro";
import ThemeIcon from "@components/ThemeIcon.astro";

const { main } = menu;

const styles = {
  headerStyle: "bg-zinc-50 dark:bg-zinc-900",
  maxWidthStyle: "mx-auto max-w-screen-lg px-4 py-8 sm:px-6 sm:py-12 lg:px-8",
  spaceBetweenStyle:
    "flex items-start justify-between gap-2 sm:gap-4 md:items-center",
  linkImageStyle:
    "logo text-lightLogo dark:text-darkLogo flex items-center text-2xl font-black",
  imageStyle: "w-20 rounded bg-zinc-950 bg-opacity-0",
  relativeStyle: "relative order-3 flex",
  hamburgerIconLabelStyle:
    "order-2 flex cursor-pointer items-center text-zinc-400 md:hidden",
  closeIconLabelStyle:
    "order-2 hidden cursor-pointer items-center text-zinc-400",
  absoluteStyle:
    "absolute right-0 top-8 z-10 mt-2 hidden w-44 divide-y divide-zinc-100 rounded-md border border-zinc-100 bg-white p-2 shadow-lg dark:border-zinc-900 dark:bg-zinc-800",
  ulStyle1: "py-2 text-sm text-zinc-700 dark:text-zinc-200",
  linkMainItemStyle1:
    "block rounded-lg px-4 py-2 text-sm text-zinc-500 hover:bg-zinc-50 hover:text-zinc-700 dark:text-zinc-400 dark:hover:bg-zinc-200 dark:hover:text-zinc-800",
  ulStyle2: "ml-auto hidden items-center gap-6 md:flex lg:flex",
  liStyle:
    "text-md block rounded-lg px-2 py-2 text-zinc-500 transition-all hover:text-zinc-800 dark:text-zinc-400 dark:hover:text-zinc-200",
  linkMainItemStyle2: "relative flex items-center",
};
---

<header class={styles.headerStyle}>
  <div class={styles.maxWidthStyle}>
    <div class={styles.spaceBetweenStyle}>
      <div>
        <a href="/" class={styles.linkImageStyle} aria-current="page">
          DOVI-LOG
        </a>
      </div>

      <div class={styles.relativeStyle}>
        <input id="nav-toggle" type="checkbox" class="hidden" />

        <label
          id="show-button"
          for="nav-toggle"
          class={styles.hamburgerIconLabelStyle}
        >
          <HamburgerIcon />
        </label>

        <label
          id="hide-button"
          for="nav-toggle"
          class={styles.closeIconLabelStyle}
        >
          <CloseIcon />
        </label>

        <div id="nav-menu" class={styles.absoluteStyle}>
          <ul class={styles.ulStyle1}>
            {
              main.map((menu) => (
                <li>
                  <a href={menu.url} class={styles.linkMainItemStyle1}>
                    {menu.name}
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>

      <ul class={styles.ulStyle2}>
        {
          main.map((menu) => (
            <li class={styles.liStyle}>
              <a href={menu.url} class={styles.linkMainItemStyle2}>
                {menu.name === "Home" ? <HomeIcon /> : menu.name}
              </a>
            </li>
          ))
        }
      </ul>

      {config.features.dark_mode && <ThemeIcon />}
    </div>
  </div>
</header>

<script is:inline>
  window.addEventListener("resize", () => {
    const navToggle = document.getElementById("nav-toggle");

    if (navToggle && navToggle instanceof HTMLInputElement) {
      if (window.innerWidth > 768) {
        navToggle.checked = false;
      }
    }
  });
</script>
