---
import config from "@config/config.json";
import social from "@config/social";
import { Image } from "astro:assets";
---

<article class="bg-zinc-50 dark:bg-zinc-900">
  <div class="mx-auto max-w-screen-lg px-4 py-0 pb-6 sm:px-6 sm:pb-12 lg:px-8">
    <div class="flex items-start justify-between">
      <div class="w-3/5">
        {
          config.author.bio.map((item) => (
            <p class="mt-1.5 text-sm text-zinc-500 dark:text-zinc-400 md:text-lg">
              {item}
            </p>
          ))
        }

        <div class="m-auto flex space-x-5 pt-8">
          {
            social.networks.map((item) => (
              <a href={item.url} target="_blank" rel="noopener noreferrer">
                <figure>
                  <Fragment set:html={item.svg} />
                </figure>
              </a>
            ))
          }
        </div>
      </div>

      <figure>
        <Image
          class="w-24 rounded-lg md:w-32"
          width={512}
          height={512}
          src={config.author.avatar}
          alt={config.author.name}
          decoding="async"
          loading="lazy"
        />
      </figure>
    </div>
  </div>
</article>
