---
import { Image } from "astro:assets";
import Base from "./Base.astro";
import CalenderIcon from "@assets/icons/CalenderIcon.astro";
import FormattedDate from "@components/FormattedDate.astro";
import CategoryIcon from "@assets/icons/CategoryIcon.astro";
import { addHypensToSlug } from "@utils/slug";
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"blog">["data"];

const { title, description, heroImage, pubDate, categories, tags } =
  Astro.props;
---

<Base
  meta_title={"DOVI-LOG | " + title}
  description={description}
  image={heroImage}
  blogpost={true}
>
  <article>
    <div class="mb-8 block overflow-hidden rounded-lg">
      <figure class="h-auto w-auto object-cover md:h-[480px]">
        <Image
          class="transition duration-300 ease-in-out hover:scale-110"
          src={heroImage || "/thumbnails/basic"}
          alt={title}
          width={960}
          height={480}
          decoding="async"
          loading="lazy"
        />
      </figure>
    </div>

    <div class="md:col-10 mb-12 text-center">
      <h1 class="text-2xl font-bold md:text-4xl">
        {title}
      </h1>

      <div
        class="text-text mt-4 flex flex-wrap items-center justify-center text-zinc-800 dark:text-zinc-200"
      >
        <div class="mx-3 mt-2 flex flex-wrap items-center font-medium">
          <CalenderIcon />
          <FormattedDate date={pubDate} />
        </div>

        <div class="mx-3 mt-2 flex flex-wrap items-center font-medium">
          <CategoryIcon />
          {
            categories.slice(0, 1).map((item) => (
              <a
                href={`/categories/${addHypensToSlug(item)}`}
                class="hover:text-primary mr-2 font-medium capitalize"
              >
                {item}
              </a>
            ))
          }
        </div>
      </div>
    </div>

    <div class="prose-md prose prose-blue min-w-full md:prose-lg">
      <slot />
    </div>

    <div class="mt-8">
      {
        tags.map((item) => (
          <a
            href={`/tags/${addHypensToSlug(item)}`}
            class="mb-2 mr-2 inline-block rounded-full bg-zinc-200 px-3 py-1 text-sm font-semibold capitalize text-zinc-700 dark:bg-zinc-900 dark:text-zinc-400"
          >
            #{item}
          </a>
        ))
      }
    </div>
  </article>
</Base>
